header
	z-index set-index('overlay')
	position absolute
	top 0
	margin-left calc((100% - 95%)/2)
	border-bottom 0.1px solid $gray-light
	width $column-width
	background-color $white
	font-family $sans
	font-size 15px
	line-height 0.5
	+mq('bp-4')
		max-width $column-width-wide
		// max-width $column-width-max
		margin-left calc((100% - 66%)/2)

	a
		border-bottom 0px white

	img
		display inline
		max-width 1rem
		margin 0 15px
		vertical-align:middle

	h2
		margin 1rem
		font-family  $montserrat
		font-weight 400
		color $gray-dark

	a.logo
		display inline
		border none
		max-width 2rem
		margin 1rem

		svg
			fill $off-black
			display block
			width 100%

header.is-sticky
	position fixed
	transform translate3d(0,0,0)
	background-color $white
	// box-shadow 0 0 0.5px 0.5px $gray-light
	height 3rem
	display flex
	align-items center
	

// dark color version
header.is-sticky.is-dark
	background-color $off-black
	box-shadow 0 0 7px 1px $gray-dark

	svg
		path
			fill $off-white

	.header__menu
		background-color $white
		color $off-black
		+mq('bp-3')
			border-left 1px solid $gray-light

	a
		color $off-black
		border-bottom 1px solid $off-black
		&:hover
			color $gray-dark

	.header__toggle
		svg
			stroke $off-white
		
		&.is-visible span
			svg
				stroke $off-black


