.intro
	margin 0 auto
	padding 6rem 1rem 0rem 1rem

	&__hed
		max-width $column-width * 0.9
		margin 0 auto
		text-align center
		font-family $nanum, $serif
		font-weight 800
		
	&__dek
		max-width $column-width * 0.8
		margin 0 auto
		margin-top 1rem
		text-align center
		font-family $sans
		font-weight 200
		color $gray-dark
		
	
	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		font-family $sans

		a 
			border-bottom none
	
	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		font-family $sans-fb
		font-weight 400
		color $gray-dark
		font-size 90%
	
	&__prelude
		max-width $column-width
		margin 0 auto
		text-align justify
		font-family $serif