#perspective-scroll
    margin 0 auto
    margin-top 1.5rem
    margin-bottom 1rem
    width $column-width
    +mq('bp-4')
        margin-top 3rem
        width $column-width-wide
        max-width $column-width-max

    .heading
        font-family $akkurat
        font-size 15px
        font-weight 800
        opacity 1
        fill $blue
        +mq('bp-4')
            font-size 20px

    .subheading
        font-family $sans
        font-size 12px
        font-weight 400
        fill $off-black
        +mq('bp-4')
            font-size 14px

    .source
        font-family $akkurat
        font-size 10px
        font-weight 800
        fill $gray
        +mq('bp-4')
            font-size 11px

    .brand
        font-family $sans
        font-size 13px
        font-weight 400
        fill $gray

    .axis path
        stroke $gray-light
        opacity 0.7

    .axis line
        stroke $gray-light
        opacity 0.7

    .axis text
        font-family $akkurat
        font-size 10.5px
        fill $gray-dark
        +mq('bp-4')
            font-size 11.5px

    .label
        font-family $sans
        fill $gray-dark


    .old
        fill $red

    .emission rect
        position relative
        stroke $red
        fill $red
        opacity 1

    button
        font-size 10px
        font-weight 800
        border-radius: 4px
        padding 3px 6px
        border solid 1px $blue
        transition-timing-function: ease-in;
        transition: .3s;
        float right

    button:hover
        font-size 10px
        background-color: $blue
        color white

    .fb-share-button, .twitter-share-button
        float right
        margin-left 10px
        font-size 10px


.tooltip, .callout
    font-family $sans
    fill $gray-dark
    font-size 13px
    text-anchor left
    font-weight 400
    text-align right

.tooltip, .callout tspan
    text-align right

.prose__hed
    width $column-width
    margin 0 auto
    color $gray
    +mq('bp-4')
        max-width $column-width-max

.prose_body
        width $column-width
        margin 0 auto
        font-size 14px
        font-weight 200
        color $off-black
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale       
        text-align justify         
        +mq('bp-4')
            width $column-width-wide
            max-width $column-width-max * 0.7
