/* CUSTOM STORY STYLE */
.section
    &__hed
        max-width $column-width
        margin 0 auto
        font-size 24px
        font-family $serif
        font-weight 200
        color $dark-gray
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale       
        text-align justify 
        +mq('bp-4')
            width $column-width-wide
            max-width 700px
