<header class='{{#ifEquals this 'sticky'}}is-sticky{{/ifEquals}}{{#ifEquals this 'sticky-dark'}}is-sticky is-dark{{/ifEquals}}'>
	<a class='title' href="http://trendspotting.site"><img src="assets/images/logo.png" class="logo" alt="logo"/>trendspotting</a>
</header>
