</br>
<div class='line__graphic'>
    <div class='graphic__chart'>
        <svg>
            <g class='g-axis'>
                <g class='axis axis--x'></g>
                <g class='axis axis--y'></g>
                <g class='axis axis--disapproval'></g>
            </g>
            <g class='g-vis'>
            </g>
        </svg>
    </div>
    </br>
    {{!-- <div class='profiles__chart'>
    </div> --}}
</div>
<p class='prose_body'>
The poll has been conducted between 15.1.2020 and 22.1.2020 on a respresentative sample of 1013 people.
</p>
</br>