<div class='line__graphic'>
    <div class='graphic__chart'>
        <svg>
            <g class='g-axis'>
                <g class='axis axis--x'></g>
                <g class='axis axis--y'></g>
                <g class='axis axis--disapproval'></g>
            </g>
            <g class='g-vis'>
            </g>
        </svg>
    </div>
    </br>
    {{!-- <div class='profiles__chart'>
    </div> --}}
</div>
<p class='prose_body'>
All polls were conducted by telephone on a sample of 1000 people. The target population includes all adults of both genders,
different education levels, nationalities, settlement types and regions in Slovakia. The interviewed were asked, who would they
hypothetically vote for, if the elections were taking place the next weekend.
</p>
</br>