<div id='methodology'>
    <div id='citations'>
        <h3 class='hed'>
            Source:
        </h3>
        <p>
        WYNES, Seth a Kimberly A NICHOLAS. <i>The climate mitigation gap: education and government 
        recommendations miss the most effective individual actions.</i> Environmental Research Letters [online]. 
        2017, 12(7). DOI: 10.1088/1748-9326/aa7541. ISSN 1748-9326. Available at: 
        <a href="https://iopscience.iop.org/article/10.1088/1748-9326/aa7541">https://iopscience.iop.org/article/10.1088/1748-9326/aa7541</a>
        </p>
    </div>
    {{!-- <div id='articles'>
        <h3 class='hed'>
            More on the topic:
        </h3>

        <p class='article'>
            https://www.topic.com/a-brief-history-of-bullying-women-to-have-babies
        </p>

        <p class='article'>
            https://iopscience.iop.org/article/10.1088/1748-9326/aa7541
        </p>

        <p class='article'>
            https://www.telegraph.co.uk/women/societal-pressures/choosing-to-have-a-family/
        </p>
    </div> --}}
</div>