<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
</br>
<p class='section__hed'>{{copy.mainHed}}</p>
<div id='perspective-scroll'>
    <div id='vis' class='scroll__graphic'>
        <div class='graphic__chart'>
            <svg>
                <g class='g-axis'>
                    <g class='axis axis--x'></g>
                    <g class='axis axis--y'></g>
                </g>
                <g class='g-vis'>
                    <g class='emissions'></g>
                </g>
            </svg>
        </div>
        <h3>WITHIN ELECTORAL THRESHOLD:</h3>
        <div class='graphic__parties' id='in'>
        </div>
        {{!-- <h3>Parties outside parliament:</h3>
        <div class='graphic__parties' id='out'>
        </div> --}}
    </div>  

</div>
</br>
<p class='prose_body'>
All polls were conducted by telephone on a sample of at least 1000 people. The samples included adults of both genders,
different education levels, nationalities, settlement types and regions in Slovakia. The interviewed were asked, who would they
hypothetically vote for, if the elections were taking place the next weekend.
</p>
</br>