<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
</br>
<p class='section__hed'>{{copy.mainHed}}</p>
<div id='perspective-scroll'>
    <div id='vis' class='scroll__graphic'>
        <div class='graphic__chart'>
            <svg>
                <g class='g-axis'>
                    <g class='axis axis--x'></g>
                    <g class='axis axis--y'></g>
                </g>
                <g class='g-vis'>
                    <g class='emissions'></g>
                </g>
            </svg>
        </div>
    </div>  
    </br>
    <!-- Share buttons code -->
    <a class="twitter-share-button"
        data-size="small"
        data-url='{{meta.site}}'
        data-hashtags="dataviz"
        >Tweet
    </a>
    <div class="fb-share-button" 
        data-href='{{meta.site}}'
        data-layout="button" 
        data-size="small">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.trendspotting.site%2F2020%2FMarch%2Femissions-mini%2Findex.html&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
    </div>
    <button id='saveButton'>Export to PNG (beta)</button>
    </br>
</div>
<p class='prose_body'>
<strong>Trying to reduce your carbon footprint?</strong> You should probably consider having fewer babies. That's a recommendation 
given by the scientists from Lund University, calculating that such action has a potential to reduce annual personal emissions of CO₂ by 58.6 tonnes. 
All other options would have much less impact, starting with car-free lifestyle (2.4 tCO₂e), reduction in plane travel (1.6 tCO₂e per single 
transatlantic flight) or a plant-based diet (0.8 tCO₂e).
</p>
</br>
<p class='prose_body'>
No need to give up on your plans of becoming a parent yet. The problem with a study like this one, is that it doesn’t account for likely 
changes in technology or people's habits. Yet we can expect these to change dramatically the amount of emissions we produce. If we took them 
into account, the resulting carbon footprint of our descendants would probably be much lower. But no matter how much we succeed, the next 
generation will have to keep their own carbon levels at a fraction of their grandparents’ in order to prevent catastrophe. They might 
not even be able to enjoy the living standards of today, so it is a legitimate question to ask, whether we should still have 
children. And it doesn't mean the question has to be asked by the couples who are genuinely excited to have kids. Instead, the first step could
be taken by those who are not.
</p>
</br>
<p class='prose_body'>
If you're a proud owner of a uterus, at some point in your life you’ve likely heard that having children isn’t really a choice, but sort of a moral 
obligation. And if you're having a long-term, childless relationship, you must have already perfected your response to 
"<a href="https://www.telegraph.co.uk/women/societal-pressures/choosing-to-have-a-family/">when are you going to have 
kids?</a>". It's a paradox, that the question is usually asked by people whose kids would be the first to suffer from overpopulation. 
The situation is even worse in developing countries with <a href="https://www.independent.co.uk/voices/comment/world-population-day-five-reasons-why-women-in-developing-countries-dont-use-family-planning-8697271.html">
women having poor access</a> to modern contraception and often being compelled to give birth to many. That being said, one solution offers itself. 
The least painful, yet potentially very efficient enviromental action we could take, is to let women make that decision on their own.
</p>